/**
 * Plugin styles
 */
.ce-header-wrapper {
  /* margin-top: 20px; */
  /* margin-bottom: 40px; */
}

.ce-header {
  margin-top: 0;
  margin-bottom: 0;
  outline: none;
}

.ce-header-prefix {
  visibility: hidden;
  margin-right: 15px;
  cursor: pointer;
}

.ce-header-prefix:hover svg {
  fill: tomato;
}

.ce-header-sub-title-input {
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  outline: none;
}

.ce-header-eyebrow-title {
  display: flex;
  align-items: center;
  margin-left: -30px;
  margin-bottom: 5px;
  width: calc(100% + 30px);
  color: grey;
  outline: none;
}

.ce-header-eyebrow-title:empty:before {
  content: attr(data-placeholder);
}

.ce-header-eyebrow-title:hover .ce-header-prefix {
  visibility: visible;
}

.ce-header-eyebrow-adder {
  display: flex;
  align-items: flex-start;
  height: 28px;
  margin-left: -30px;
}

.ce-header-eyebrow-adder:hover .ce-header-add-icon {
  opacity: 1;
}

.ce-header-eyebrow-adder:hover .ce-header-eyebrow-adder-text {
  opacity: 1;
}

.ce-header-eyebrow-adder-text {
  opacity: 0;
  color: grey;
  font-size: 16px;
  margin-left: 10px;
  margin-top: -1px;
  transition: all 0.3s;
}

.ce-header-add-icon {
  opacity: 0;
}

.ce-header-add-icon svg {
  font-size: 18px;
  width: 20px;
  height: 20px;
  color: grey;
  outline: none;
  cursor: pointer;
}

.ce-header-footer-title {
  display: flex;
  align-items: center;
  margin-left: -30px;
  margin-top: 5px;
  width: calc(100% + 30px);
  color: grey;
  outline: none;
}

.ce-header-footer-title:empty:before {
  content: attr(data-placeholder);
}

.ce-header-footer-title:hover .ce-header-prefix {
  visibility: visible;
}

.ce-header-footer-adder {
  display: flex;
  align-items: flex-end;
  height: 28px;
  margin-left: -30px;
}

.ce-header-footer-adder:hover .ce-header-add-icon {
  opacity: 1;
}

.ce-header-footer-adder:hover .ce-header-footer-adder-text {
  opacity: 1;
}

.ce-header-footer-adder-text {
  opacity: 0;
  color: grey;
  font-size: 16px;
  margin-left: 10px;
  margin-top: -1px;
  transition: all 0.3s;
}

.ce-header p,
.ce-header div {
  padding: 0 !important;
  margin: 0 !important;
}

/**
 * Styles for Plugin icon in Toolbar
 */
.ce-header__icon {
}

.ce-header[contentEditable="true"][data-placeholder]::before {
  position: absolute;
  content: attr(data-placeholder);
  color: #707684;
  font-weight: normal;
  opacity: 0;
}

.ce-header[contentEditable="true"][data-placeholder]:empty::before {
  opacity: 1;
}

.ce-header[contentEditable="true"][data-placeholder]:empty:focus::before {
  opacity: 0;
}
