/**
 * Plugin styles
 */
.ce-header-wrapper {
  position: relative;
}

.ce-header {
  padding: 1em 0;
  margin-top: 20px;
  margin-bottom: 40px;
  line-height: 1.5em;
  outline: none;
}

.ce-header-prefix {
  visibility: hidden;
  position: absolute;
  top: 4px;
  left: 0px;
  cursor: pointer;
  transition: all .3s;
}

.ce-header-prefix:hover svg {
  fill: tomato;
}

.ce-header-sub-title-input {
  font-size: 16px;
  outline: none;
}

.ce-header-eyebrow-title {
  position: absolute;
  top: 5px;
  left: -30px;
  padding-left: 30px;
  width: 100%;
  /* min-width: 200px; */
  color: grey;
  outline: none;
}

.ce-header-eyebrow-title:empty:before {
  content: attr(data-placeholder);
}

.ce-header-eyebrow-title:hover .ce-header-prefix {
  visibility: visible;
}

.ce-header-eyebrow-adder {
  position: absolute;
  top: 10px;
  left: -30px;
  height: 38px;
  display: flex;
  align-items: flex-start;
}

.ce-header-eyebrow-adder:hover .ce-header-add-icon {
  opacity: 1;
}

.ce-header-eyebrow-adder:hover .ce-header-eyebrow-adder-text {
  opacity: 1;
}

.ce-header-eyebrow-adder-text {
  opacity: 0;
  color: grey;
  font-size: 16px;
  margin-left: 10px;
  margin-top: -1px;
  transition: all .3s;
}

.ce-header-add-icon {
  opacity: 0;
}

.ce-header-add-icon svg{
  font-size: 18px;
  width: 20px;
  height: 20px;
  color: grey;
  outline: none;
  cursor: pointer;
}

.ce-header-footer-title {
  position: absolute;
  left: -30px;
  padding-left: 30px;
  bottom: 5px;
  width: 200px;
  color: grey;
  outline: none;
}

.ce-header-footer-title:empty:before {
  content: attr(data-placeholder);
}

.ce-header-footer-title:hover .ce-header-prefix {
  visibility: visible;
}

.ce-header-footer-adder {
  position: absolute;
  bottom: 0px;
  left: -30px;
  height: 35px;
  display: flex;
  align-items: flex-end;
  /* border: 1px solid green; */
}

.ce-header-footer-adder:hover .ce-header-add-icon {
  opacity: 1;
}

.ce-header-footer-adder:hover .ce-header-footer-adder-text {
  opacity: 1;
}

.ce-header-footer-adder-text {
  opacity: 0;
  color: grey;
  font-size: 16px;
  margin-left: 10px;
  margin-top: -1px;
  transition: all .3s;
}



.ce-header p,
.ce-header div{
  padding: 0 !important;
  margin: 0 !important;
}

/**
 * Styles for Plugin icon in Toolbar
 */
.ce-header__icon {}

.ce-header[contentEditable=true][data-placeholder]::before{
  position: absolute;
  content: attr(data-placeholder);
  color: #707684;
  font-weight: normal;
  opacity: 0;
}

.ce-header[contentEditable=true][data-placeholder]:empty::before {
  opacity: 1;
}

.ce-header[contentEditable=true][data-placeholder]:empty:focus::before {
  opacity: 0;
}
