/**
 * Plugin styles
 */
.ce-header-wrapper {
  position: relative;
}

.ce-header {
  padding: 1em 0;
  margin: 0;
  line-height: 1.5em;
  outline: none;
}

.cd-header-prefix {
  display: none;
  position: absolute;
  top: 4px;
  left: -25px;
  cursor: pointer;
}

.cd-header-sub-title {
  position: absolute;
  top: 5px;
  left: 0;
  font-size: 18px;
  width: 200px;
  color: grey;
  outline: none;
}

.cd-header-sub-title:hover .cd-header-prefix {
  display: block;
}

.cd-header-sup-title {
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 200px;
  color: grey;
  outline: none;
}

.ce-header p,
.ce-header div{
  padding: 0 !important;
  margin: 0 !important;
}

/**
 * Styles for Plugin icon in Toolbar
 */
.ce-header__icon {}

.ce-header[contentEditable=true][data-placeholder]::before{
  position: absolute;
  content: attr(data-placeholder);
  color: #707684;
  font-weight: normal;
  opacity: 0;
}

.ce-header[contentEditable=true][data-placeholder]:empty::before {
  opacity: 1;
}

.ce-header[contentEditable=true][data-placeholder]:empty:focus::before {
  opacity: 0;
}
